APP_NAME=TableTrack
APP_KEY=base64:wID/CO/WkfE3yoWpQOoy15de8FtOpvC3dM/z5FuHiEU=

# Do not change APP_ENV to anything else. It will affect emailing from admin panel
# and other configuration from databse and system may crash
APP_ENV=codecanyon
APP_DEBUG=false

APP_URL=http://localhost

# Main application subdomain if subdomain is installed on subdomain
MAIN_APPLICATION_SUBDOMAIN =

#For redirect to https
REDIRECT_HTTPS=false

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

